In [48]:
import pandas as pd
import numpy as np

batting_df = pd.read_csv('Batting.csv')
teams_df = pd.read_csv('Teams.csv')
pitching_df = pd.read_csv('Pitching.csv')
fielding_df = pd.read_csv('Fielding.csv')
salaries_df = pd.read_csv('Salaries.csv')

In [40]:
print len(batting_df)

101332

In [41]:
batting_df.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13,8,1,4,0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19,3,1,2,5,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27,1,1,0,2,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16,6,2,2,1,NaN,NaN,NaN,NaN,NaN

In [42]:
#Add column PAE for plate appearances estimate
batting_df['PAE'] = batting_df['AB'] + batting_df['BB'] 
batting_df['PAE'].head()

0      4
1    122
2    139
3    133
4    122
Name: PAE, dtype: float64

In [43]:
batting_grouped_year = batting_df.groupby(['yearID'],as_index=False).mean()

In [44]:
avg_bb_per_pae = batting_grouped_year['BB']/batting_grouped_year['PAE']

In [45]:
avg_so_per_pae = batting_grouped_year['SO']/batting_grouped_year['PAE']

In [51]:
batting_and_team = batting_df.merge(teams_df,on=['yearID','teamID'],how='inner')